#logo{
    background-color: #182899;
    padding-left:10px;
    height:200px;
}
#way_morr{
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 64pt;
    font-style: italic;
    margin: 0;
    padding: 0;
}
#youth_sports{
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    font-size: 64pt;
    margin: 0;
    padding: 0;
    padding-left:50px;
    position: relative;
    top:10px;
    line-height:30px;
    background-color:red;
}
.sport_font{
    font-family: 'NCAA Purdue Boilermakers';
}
@font-face{
    font-family: NCAA Purdue Boilermakers;
    src: url("../Font/NCAA Purdue Boilermakers.otf") format("opentype");
}

body{
    margin: 0;
}

nav > ul > li{
    display: inline-block;
    position: relative;
    padding: 15px;
}
nav > ul > li:hover{
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red; */
    /* color: white; */
    text-decoration: underline;
}
nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: red;
    background: white;
    font-size: 18pt;
    text-align: center;
}
nav{
    background: white;
    height: 30px;
}