#logo{
    background-color: #182899;
    padding-left:10px;
    height:200px;
}
#way_morr{
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 64pt;
    font-style: italic;
    margin: 0;
    padding: 0;
}
#youth_sports{
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    font-size: 64pt;
    margin: 0;
    padding: 0;
    padding-left:50px;
    position: relative;
    top:10px;
    line-height:30px;
    background-color:red;
}
.sport_font{
    font-family: 'NCAA Purdue Boilermakers';
}
@font-face{
    font-family: NCAA Purdue Boilermakers;
    src: url("../Font/NCAA Purdue Boilermakers.otf") format("opentype");
}

#login{
    position: absolute;
    top:0;
    right:0;
    padding-right:25px;
    padding-top:25px;
    font-size: 18pt;
    color:white;
}
#login:hover{
    color:red;
}
body{
    /* header/footer go to edges */
    margin: 0;
}

nav > ul > li{
    display: inline-block;
    position: relative;
    padding: 15px;
}
nav > ul > li:hover, .submenu > a:hover{
    text-decoration: underline;
}
.submenu{
    list-style: none;
    position: absolute;
    display: block;
    background:white;
} 
.submenu > a {
    float: none;
    display:block;
    text-align: left;
}
#baseball-submenu{
    width: 300px;
}
#flag-football-submenu{
    width: 200px;
}
nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: red;
    background: white;
    font-size: 18pt;
    text-align: center;
}

nav{
    background: white;
    height: 30px;
}

.menu-invisible{
    display: none;
}

/* mobile logo styling */
@media screen and (max-width:552px){
    #youth_sports{
        line-height: 80px;
    }
    #logo{
        height: 300px;
    }
}

footer{
    /* stick footer to bottom */
    position: absolute;
    bottom: 0;
    width:100%;

    background-color: #182899;
    border-top: solid 10px red;
    padding-bottom: 15px;

    color: white;
    text-align:center;
}
footer > div > p > a{
    color:white;
}

.facebook{
    color:white;
}
.facebook:hover{
    color:red;
}

a{
    color:red;
    text-decoration:none;
}