
html, body{
    /* header/footer go to edges */
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
#menu{
    /*height: 59px;*/
}
#logo{
    background-color: #182899;
    padding-left:10px;
    height:200px;
}
#way_morr{
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 64pt;
    font-style: italic;
    margin: 0;
    padding: 0;
}
#youth_sports{
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    font-size: 64pt;
    margin: 0;
    padding: 0;
    padding-left:50px;
    position: relative;
    top:10px;
    line-height:30px;
    background-color:red;
}
.sport_font, h1{
    font-family: 'NCAA Purdue Boilermakers';
}
h1 {
    color: white;
    font-size: 48px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #182899;
    text-shadow: 2px 4px navy;
}
h2, h3, h4, h5, h6 {
    color: #182899;
   
}
p, h2, h3, h4, h5, h6, label{
    font-family: sans-serif;
}
@font-face{
    font-family: NCAA Purdue Boilermakers;
    src: url("../Font/NCAA Purdue Boilermakers.otf") format("opentype");
}
#urgentMessage {
    background-color:red;
    color: black;
}
#login, #logout{
    position: absolute;
    top:0;
    right:0;
    padding-right:25px;
    padding-top:25px;
    font-size: 18pt;
    color:white;
}
#login:hover, #logout:hover{
    color:red;
}

input, select, textarea {
    border: 1px solid navy;
    padding: 6px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="submit"], input[type="button"] {
    padding: 0px;
    border: 1px solid navy;
    background: #2739b4;
    color: white;
    height: 30px;
    font-family: 'NCAA Purdue Boilermakers';
    width: 150px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="button"] {
    padding: 0px;
    width: 100px;
}
input[type="submit"]:hover, input[type="button"]:hover {
        color: red;
        background: white;
}


nav > ul > li{
    display: inline-block;
    position: relative;
    padding: 15px;
}
.submenu > a:hover {
    background: #ff4545;
    color: white;
    padding: 4px;
}
nav > ul > li:hover, .submenu > a:hover {
    text-decoration: underline;
    
}

.submenu{
    list-style: none;
    position: absolute;
    display: block;
    background:white;
    z-index:2;
    padding: 6px;
    border: 1px dashed red;
} 

.submenu > a {
    float: none;
    display:block;
    text-align: left;

}
#baseball-submenu{
    width: 300px;
}
#flag-football-submenu{
    width: 200px;
}
#team-submenu{
    width: 150px;
}
nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: red;
    background: white;
    font-size: 18pt;
    text-align: center;
}

nav{
    background: white;
    /*height: 30px;*/
}

.menu-invisible{
    display: none;
}
#content {
    min-height: calc(100vh - 395px);
    margin: 0 auto;
    width: calc(100vw - 200px);
}



footer{
    height:140px;
    /* stick footer to bottom */
    position: relative;
    bottom: 0;
    width:100%;

    background-color: #182899;
    border-top: solid 10px red;
    padding-bottom: 15px;

    color: white;
    text-align:center;
    margin-top: 40px;
}
footer > div > p > a{
    color:white;
}

.facebook{
    color:white;
}
.facebook:hover{
    color:red;
}

a{
    color:red;
    text-decoration:none;
}

table,th,td{
    /*border: 1px solid black;
    border-collapse: collapse;*/
}
th, td{
    padding: 4px;
    color:black;
    font-family:sans-serif;
}
th{
    border-radius: 4px;
    background: lightblue;
}
tr:nth-child(odd){
    background: aliceblue;
}

.success {
    color: green;
}
.error {
    color: red;
}
img{
    max-width:400px;
}

/* mobile styling */
@media screen and (max-width:1055px) {
    #menu {
        /*height: 118px;*/
    }
}

@media screen and (max-width:552px) {
    #youth_sports {
        line-height: 80px;
    }

    #logo {
        height: 400px;
    }

    #menu {
        /*height: 480px;*/
    }
    nav > ul > li {
        display:block;
    }
    img {
        max-width: 300px;
    }
    .submenu{
        position:relative;
        
    }
    #baseball-submenu {
        width: 100%;
    }

    #flag-football-submenu {
        width: 100%;
    }

    #team-submenu {
        width: 100%;
    }
    #content {
        width: auto;
        padding: 10px;
    }
}
@media screen and (max-width:475px){
    #logout{
        top:250px;
    }
}
@media screen and (max-width:370px) {
    #logout {
        top: 0px;
    }
}
@media screen and (max-width:1150px) {
    #content {
        margin: 0;
        padding: 10px;
        overflow-x: scroll;
    }
}
